<p id="notice"><%= notice %></p>

<p>
  <strong>Price:</strong>
  <%= @apartment.price %>
</p>

<p>
  <strong>List date:</strong>
  <%= @apartment.list_date %>
</p>

<p>
  <strong>Avail date:</strong>
  <%= @apartment.avail_date %>
</p>

<p>
  <strong>Address 1:</strong>
  <%= @apartment.address_1 %>
</p>

<p>
  <strong>Address 2:</strong>
  <%= @apartment.address_2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @apartment.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @apartment.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @apartment.zip %>
</p>

<p>
  <strong>Type:</strong>
  <%= @apartment.type %>
</p>

<p>
  <strong>Beds:</strong>
  <%= @apartment.beds %>
</p>

<p>
  <strong>Baths:</strong>
  <%= @apartment.baths %>
</p>

<p>
  <strong>Pets:</strong>
  <%= @apartment.pets %>
</p>

<p>
  <strong>Manager:</strong>
  <%= @apartment.manager %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @apartment.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @apartment.email %>
</p>

<%= link_to 'Edit', edit_apartment_path(@apartment) %> |
<%= link_to 'Back', apartments_path %>
